.conteneur {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template-rows: auto auto 2rem;
  grid-template-columns: 15fr 70fr 15fr;
  grid-template-areas:
    "entete   type  onglet"
    "principal   principal  principal"
    "bas        bas         bas ";
  margin: 0rem;
}
.entete,
.type,
.onglet {
  color: wheat;
  background-color: crimson;
}
.entete {
  color: wheat;
  grid-area: entete;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 1rem;
  padding-top: 0.7rem;
  font-weight: bold;
  font-size: 4dvb;
}
.type {
  grid-area: type;
  font-size: 2dvb;
  padding-left: 1rem;
}
.type ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.onglet {
  grid-area: onglet;
}
h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.categorie {
  grid-area: categorie;
  color: wheat;
  background-color: crimson;
  font-weight: bold;
  border-radius: 0.75rem;
  outline-color: wheat;
  outline-width: 0.2rem;
}
ul {
  list-style-type: none;
}
.type li {
  padding: 0.2rem;
}
.derriere{
  background: wheat;
  border-radius: 0.75rem;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 0.5rem;
}
.devant {
  display: block;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  background: crimson;
  color: wheat;
  transform: translateY(-0.3rem);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.derriere:active .devant {
  transform: translateY(-0.1rem);
}
.principal {
  grid-area: principal;
  display: flex;
  flex-wrap: wrap;
}
.principal article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  height: 20.5rem;
  width: 13rem;
}
.principal h2 {
  width: 500rem;
  height: 2rem;
  background-color: crimson;
  color: wheat;
  padding-left: 1rem;
  margin-top: 0rem;
}
.principal img {
  height: 16.5rem;
  width: 11.5rem;
}
.principal h4 {
  display: flex;
  flex-wrap: wrap;
}
.bas {
  grid-area: bas;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: crimson;
  color: wheat;
  text-align: center;
}
