.conteneur {
    display: grid;
    grid-template-rows: 10rem auto 2rem;
    grid-template-columns: 15fr 70fr 15fr;
    grid-template-areas: 
        "entete   categorie  onglet"
        "principal   principal  principal"
        "bas        bas         bas "
}
.entete { 
    grid-area: entete;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-right: 5rem;
}
.onglet {
    grid-area: onglet;
}
.categorie { 
    grid-area: categorie;
}
.categorie ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}
li {
    padding-right: 1.5rem;
}
.principal {
    grid-area: principal;
}
.bas {
    grid-area: bas;
}